<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rfchina.internet.mytestapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">
            <!--android:process=":release">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".cornerlayout.CornerActivity"/>
        <activity
            android:name=".activitystartmodel.FirstActivity"
            />
        <activity
            android:name=".activitystartmodel.SecondActivity"
            android:launchMode="standard"/>
        <activity android:name=".activitystartmodel.ThirdActivity"/>
        <activity android:name=".wheelView.ShowWheelActivity"/>
        <activity android:name=".xfermode.XfermodeActivity"/>
        <activity android:name=".loadLargeImage.LargeImagerLoadActivity"/>
        <activity android:name=".okhttpmodel.OkHttpTestActivity"/>
        <activity android:name=".printer.PrinterActivity"/>
        <activity
            android:name=".richtext.RichTextActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:name=".permission.PermissionActivity"/>
        <activity android:name=".media.MediaActivity"/>
        <activity android:name=".service.ServiceActivity"/>
        <activity android:name=".test.TestActivity"/>
        <activity android:name=".aliRecognition.AliRecognitionActivity"/>
        <activity android:name=".mqtt.MQTTActivity"/>
        <activity android:name=".wifiautoverification.WifiAutoVerificationActivity"/>
        <activity android:name=".subandgrouppackage.SubAndGroupPackageActivity"/>
        <activity android:name=".socket.TCPCLientActivity"/>
        <activity android:name=".listview.ListviewActivity"/>

        <provider
            android:name=".permission.MyContentProvider"
            android:authorities="com.rfchina.internet.mytestapp.provider"
            android:enabled="true"
            android:exported="true">
        </provider>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.rfchina.internet.mytestapp.media.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true"/>
        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService"/>
        <service android:name=".mqtt.MQTTService"/>
        <service android:name=".socket.TCPServerService"/>

        <receiver android:name=".wifiautoverification.WifiBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>